.redes__sociales {
    font-family: $ff-BS;
    font-family: $ff-IFE;
    text-shadow: 1px 2px 10px black, 1px 2px 15px black, 1px 2px 20px black;
    font-size: 32px;
    color: rgba(255, 234, 43, 0.705);

}

.footer__fondo {
    background-color: rgba(255, 255, 255, 0.219);
}