main h1 {
    color: rgba(255, 234, 43, 0.705);
    text-shadow: 1px 2px 10px black, 1px 2px 15px black, 1px 2px 20px black;
    padding: 10px;
    font-family: $ff-BS;
    font-family: $ff-IFE;
    font-size: 32px;
    font-weight: bolder;
}

main p {
    font-family: $ff-BS;
    font-family: $ff-IFE;
    font-size: 16px;
}
  .texto__index{ color: white;
            background-color: rgba(0, 0, 0, 0.76);
            padding: 10px;
    }


section h2 {
    color: rgba(255, 234, 43, 0.705);
    text-shadow: 1px 2px 10px black, 1px 2px 15px black, 1px 2px 20px black;
    font-family: $ff-BS;
    font-family: $ff-IFE;
    font-size: 32px;
    font-weight: bolder;
    padding: 10px;
}

.title__center {
    text-align: $T-C;
}

.orange__btn {
    background-color: rgba(196, 185, 91, 0.712);
    color: white;
    width: 100%;
    font-family: $ff-BS;
    font-family: $ff-IFE;
}

.card__color {
    background-color: #ffffff83;
}

.centrar__row {
    justify-content: $J-C;
}

.center__text {
    justify-content: $J-C;
    text-align: $T-C;
}